body {
  color: var(--textDark);
  margin: 0;
  background: #fff;
  font-size: 1em;
  line-height: 1.5;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #363636;
  margin: 0 0 0.2em 0;
  letter-spacing: -2px;
}
h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #363636;
  margin: 0.2em 0;
  letter-spacing: -2px;
}
h3 {
  margin: 0;
  font-weight: normal;
  color: var(--textLight);
  font-size: 1em;
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

.box-2 {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}

.box {
  background: #fff;
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 4.5rem;
  text-align: center;
}
.content {
  display: flex;
  flex-direction: column;
}

button {
  background: var(--brandColor);
  outline: none;
  border: 0px;
  color: #fff;
  width: 100%;
  cursor: pointer;
  justify-content: center;
  padding: 0.5em 0;
  font-size: 1.2em;
  border-radius: 5px;
  font-weight: normal;
  width: 100%;
}

textarea {
  width: 99%;
  height: 6em;
  resize: none;
}
.textarea {
  border: 1px solid var(--textLight);
  border-radius: 5px;
  outline: none;
}
.error-border {
  border: 1px solid var(--error);
  border-radius: 5px;
  outline: none;
}
.error-text {
  display: flex;
  justify-content: start;
  color: 1px solid var(--error);
}

.header-left,
.header-right {
  text-align: left;
  width: 100%;
}
.bottom {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 2rem;
  text-align: center;
}

.bottom .icon {
  display: flex;
  padding: 0 10px;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.bottom .icon a {
  color: var(--textDark);
}

@media (min-width: 826px) {
  body {
    background: var(--background);
  }
  .box-2 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2em;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 95vw;
    position: absolute;
  }
  .box {
    display: flex;
    border-radius: 5px;
    max-width: 30em;
    height: 30em;
    align-items: center;
    justify-content: center;
  }
  .content-left,
  .content-right {
    width: 100%;
  }
  textarea {
    width: 99%;
    height: 12em;
    resize: none;
  }
}
/* @media (min-width: 1294px) {
  .box {
    width: 30em;
  }
} */
