@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

:root {
  --brandColor: hsl(166, 67%, 51%);
  --background: rgb(247, 247, 247);
  --textDark: hsla(0, 0%, 0%, 0.66);
  --textLight: hsla(0, 0%, 0%, 0.33);
  --shadow: rgba(99, 99, 99, 0.2);
  --error: #b94a48;
}
body {
  font-family: "Poppins", sans-serif;
}
